
.login{
	margin:15% auto 0;
  text-align: center;
  width:320px;
  padding:5px;
  border-radius:5px;
  background-color:rgba(0,0,0,.5);
  .ivu-alert{
    padding:8px 16px;
    margin:0;
  }
  .tit{
  	padding:10px 0 20px;
  	text-align:center;
  	font-size:14px;
  }
}