html,body{
	width:100%;
height:100%;
}
body{
  background: url(./images/bg2.png) center center repeat;
  background-color:#f5f5f5;

}
.app-content{

    .red{
      color:#e42323
    }
    .main{
      width:1000px;
      max-width:1000px;
      margin:20px auto;
      overflow: hidden;
    }
}


body{

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size :15px;
  background-color: lighten(#eceef1, 30%);
  margin :0;
  padding-top :55px;
  color: #34495e;
  overflow-y :scroll
}

a{
  color :#34495e;
  text-decoration :none
}
.header{
  background-color :#333;
  position: fixed;
  z-index: 999;
  height :55px;
  top: 0;
  left: 0;
  right: 0}
  .inner{
    max-width: 800px;
    box-sizing: border-box;
    margin :0px auto;
    padding :15px 5px;
    a{
      color: rgba(255, 255, 255, .8);
      line-height: 24px;
      transition :color .15s ease;
      display :inline-block;
      vertical-align: middle;
      font-weight :300;
      letter-spacing :.075em;
      margin-right: 1.8em;
      &:hover{
        color :#fff
      }
      &.router-link-active{
        color :#fff;
        font-weight :400
      }
      &:nth-child(6){
        margin-right: 0
      }
    }
  }
  .github{
    color: #fff;
    font-size :.9em;
    margin: 0;
    float: right
  }

.logo{
  width: 24px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle
}

.view{
  max-width: 800px;
  margin: 0 auto;
  position :relative
}

.fade-enter-active, .fade-leave-active{
  transition: all .2s ease
}

.fade-enter, .fade-leave-active{
  opacity: 0
}

@media (max-width: 860px){
  .header .inner{
    padding :15px 30px
  }
}

@media (max-width: 600px){
  .header{
    .inner{
      padding: 15px}
    a{
      margin-right: 1em
    }
    .github{
      display: none
    }
  }
}