
.list{
	.name{
		color:#06c;
	}
	.label{color:#666}
	.a-block{
		display:block;
		    color: #34495e;
	}
	.ivu-card{
		margin-bottom:15px;
	}
  .user-icon{
    width:50px;
    height:50px;
    border-radius:4px;
    border:1px solid #999;
  }
  .row{
  	background:#fff;
  	border-radius:5px;
  	padding:5px 10px;
  }
}
.preview-img{
	max-width:400px;
	max-height: 400px;
}
